<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../components/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../components/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../components/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Code added by pdighe -->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script type="text/javascript">
    var count=1;
     var evtSource;
     var log_evtSource;


      google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBackgroundColor);
 var data ;
 var iot_data=new Array();

function drawBackgroundColor(tempratureData) {
     data = new google.visualization.DataTable();
     
      data.addColumn('number', 'X');
      data.addColumn('number', 'IOT Data');


      //data.addRows([
        //[count, tempratureData]
      //]);

     data.addRows(iot_data);
    //data.addRow(new Array(count,tempratureData));

      count++;
      console.log("Count is "+count);

      var options = {
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Data'
        },
        backgroundColor: '#f1f8e9'
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }


     function start(){     
                var eventList = document.getElementById("eventlist");
               evtSource = new EventSource("http://localhost:3000/subscribe");

               // var newElement = document.createElement("li");
               // newElement.innerHTML = "Messages:";
               // eventList.appendChild(newElement);


                evtSource.onmessage = function(e) {
                    console.log("received event");
                    console.log(e);
                    //var newElement = document.createElement("li");

                    //newElement.innerHTML = "message: " + e.data;
                    //eventList.appendChild(newElement);

                    iot_data.push(new Array(count,parseInt(e.data)));

                    drawBackgroundColor(iot_data);
                };      

                evtSource.onerror = function(e) {
                    console.log("EventSource failed.");
                    alert("No Data recieved cannot Plot Graph");
                };

                if(evtSource.readyState==0){

                    alert("Cannot start this functionality, application is not deployed yet");

                }

                console.log(evtSource);
            }


         function getDeviceLogs(){     
                var event_log_div = document.getElementById("log_lines_ul");
               log_evtSource = new EventSource("http://localhost:3000/getDeviceLogs/<%=device_uuid%>");

               // var newElement = document.createElement("li");
               // newElement.innerHTML = "Messages:";
               // eventList.appendChild(newElement);


                log_evtSource.onmessage = function(e) {
                    console.log("received event");
                    console.log(e);
                    var newElement = document.createElement("li");

                    newElement.innerHTML = " message: " + e.data;
                    event_log_div.appendChild(newElement);

                    //iot_data.push(new Array(count,parseInt(e.data)));

                    //drawBackgroundColor(iot_data);
                };      

                log_evtSource.onerror = function(e) {
                    console.log("EventSource failed.");

                    var newElement = document.createElement("li");

                    newElement.innerHTML = "Error while fetching data";
                    event_log_div.appendChild(newElement);

                };

                 if(log_evtSource.readyState==0){

                    alert("Cannot start this functionality, application is not deployed yet");

                }

                console.log(log_evtSource);
            }

      </script>


      <script type="text/javascript">
    var auto_refresh = setInterval(
    function()
    {

        $.get( "/getDeviceStatus", function( data ) 
            {

                 var device_status_h3 = document.getElementById("device_status_h3");
                 device_status_h3.innerHTML=data.device_object.status;

                 if(data.device_object.status!='Idle')
                 $( "#progress_gif" ).show();
                 else
                 $( "#progress_gif" ).hide();


            });


    },5000);

    </script>
    <!-- End of code added by pdighe-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
             <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="inactive">
                        <a href="register_device.html"><i class="fa fa-fw fa-dashboard"></i> Register My Device</a>
                    </li>
                    <li class="inactive">
                        <a href="start.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                   <li class="inactive">
                        <a href="#"><i class="fa fa-fw fa-dashboard"></i>Setup  Device</a>
                    </li>
                     <li class="active">
                        <a href="#"><i class="fa fa-fw fa-dashboard"></i>Deploy Application</a>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-fw fa-dashboard"></i>View Device Data Data</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Generalized IOT
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-bar-chart-o"></i> Device Data
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Flot Charts -->
               
                <!-- /.row -->

            
                <!-- /.row -->

                
                <!-- /.row -->

                <!-- /.row -->

                <!-- Morris Charts 
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Morris Charts</h2>
                        <p class="lead">Device Data Analysis. For full usage instructions and documentation for Morris.js charts, visit .</p>
                    </div>
                </div>-->




                <div class="row">
                   
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Device Status</h3>
                            </div>
                            <div class="panel-body">

                            <div class="form-group">
                                    <label>Device ID </label>
                                    <p class="form-control-static" id="device_id" name="device_id"><%=device_object.id%></p>
                              </div>
                              <div class="form-group">
                                    <label>Device Name </label>
                                    <p class="form-control-static" id="device_name" name="device_name"><%=device_object.name%></p>
                              </div>
                              <div class="form-group">
                                    <label>Device UUID </label>
                                    <p class="form-control-static" id="device_uuid" name="device_uuid"><%=device_object.uuid%></p>
                              </div>
                              <div class="form-group">
                                    <label>Device Type </label>
                                    <p class="form-control-static" id="device_uuid" name="device_type"><%=device_object.device_type%></p>
                              </div>
                               <div class="form-group">
                                    <label>Sensor Selected </label>
                                    <p class="form-control-static" id="device_uuid" name="device_type"><%=device_sensor%></p>
                              </div>
                                    
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Device Status</h3>
                            </div>
                            <div class="panel-body">
                                    
                                    Status <h3 id="device_status_h3"> </h3>

                                   <img id="progress_gif" src="../components/images/ring-alt.gif" alt="" width="50" height="50" style="display: none">

                            </div>
                        </div>
                    </div>
                </div>

                  <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Device Logs</h3>
                            </div>
                            <div class="panel-body">
                                     <div id="log_div">
                                         <button onclick="getDeviceLogs()">Get Device Logs</button>

                                        <ul id="log_lines_ul"></ul>
                                     </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Line Graph Example with Tooltips</h3>
                            </div>
                            <div class="panel-body">
                                   <button onclick="evtSource.close()">Stop</button>
                                    <button onclick="start()">Start</button>
                                       <ul id="eventlist"> </ul>

                                     <div id="chart_div"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../components/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../components/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../components/js/plugins/morris/raphael.min.js"></script>
    <script src="../components/js/plugins/morris/morris.min.js"></script>
    <script src="../components/js/plugins/morris/morris-data.js"></script>

    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="../components/js/plugins/flot/jquery.flot.js"></script>
    <script src="../components/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="../components/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="../components/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="../components/js/plugins/flot/flot-data.js"></script>

</body>

</html>
